body {
    background-color:  #EEECD9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   position: absolute;
   top: 10px;
}

table {
    height: 400px;
    border: 2px solid #EEECD9;
    border-collapse: collapse;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0,0, 0.1);
    margin-top: 80px;
}

th {
    background-color: #A19F92;
}

th, td {
    border: 2px solid ;
    padding: 10px 30px;
    text-align: left;
}
